<div class="form-group">
    <label for="search">@Label</label>
    <input
        type="text"
        class="form-control"
        @bind-value="UserInput"
        @bind-value:event="oninput"
        @onkeyup="OnKeyUp"
        @onkeyup:stopPropagation="_stopPropagation"/>
</div>
@if (_searchResults is not null && _searchResults.Count > 0)
{
    <div class="search-result">
        <ul>
            @{
                var itemIndex = 0;
                foreach (var item in _searchResults)
                {
                    <li @key="item.Id"
                        @onclick="@(() => OnSelectItem(item))"
                        class="@(itemIndex == _currentItemIndex ? "selected" : "")">
                        @item.Name
                    </li>
                    itemIndex++;
                }

            }
        </ul>
    </div>
}