<div class="form-group">
    <label for="search">@Label</label>
    <input
        type="text"
        class="form-control"
        @bind-value="UserInput"
        @bind-value:event="oninput"/>
</div>
@if (_searchResults is not null && _searchResults.Count > 0)
{
    <div class="search-result">
        <ul>
            @foreach (var item in _searchResults)
            {
                <li @key="item.Id">@item.Name</li>
            }
        </ul>
    </div>
}

