@page "/"
@using IMS.UseCases.Inventories
@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase
@inject IEditInventoryUseCase EditInventoryUseCase
<PageTitle>Test Page</PageTitle>
<br /> 
<ul>
    @foreach (var inv in _inventories)
    {
        <li>@inv.Name (@inv.Id)</li>
    }
</ul>



@code {

    private List<Inventory> _inventories = new();

    protected override async Task OnInitializedAsync()
    {
        
        _inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();

        var inventory = new Inventory {Id = 1, Name = "Bike Body", Quantity = 101, Price = 2};
        await EditInventoryUseCase.ExecuteAsync(inventory);
         
        _inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
        
        
    }
 
}