@inject IViewProductsByNameUseCase ViewProductsByNameUseCase

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th/>
    </tr>
    </thead>
    <tbody>
    <ProductListItemComponent Products="_listProducts"></ProductListItemComponent>
    </tbody>
</table>

@code {

    private List<Product> _listProducts = new();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        _listProducts = (await ViewProductsByNameUseCase.ExecuteAsync(this.SearchTerm)).ToList();
    }

}